.header {
    background: url("../img/background.jpg") center no-repeat;
    background-size: cover;
    height: 280px;
    margin-bottom: 20px;
}

.loader {
    width: 35px;
    height: 35px;
    margin: 10px 0;
}

.search-panel{
    width: 300px;
}

.info-content .add{
    margin: 10px 0;
}

#audio-table {
    width: 70%;
}

#audio-table td p {
    overflow: hidden;
    text-overflow: ellipsis;
}

#audio-table .audio-name {
    color: #0f116d;
}

#audio-table .audio-artist {
    width: 100px;
}

.add-btn,
.added-audio,
.edit-audio {
    width: 45px;
    height: 45px;
    margin: 0 5px;
}

.add-btn {
    background: url("../img/cart.png") center no-repeat;
    background-size: cover;
    margin: 10px;
}

.added-audio {
    background: url("../img/addedvalue.png") center no-repeat;
    background-size: cover;
}

.edit-audio {
    background: url("../img/edit.png") center no-repeat;
    background-size: cover;
}

/* Audio popup */
#file {
    margin: 10px 0;
}