.header {
    background: url("../img/background.jpg") center no-repeat;
    background-size: cover;
    height: 280px;
    margin-bottom: 20px;
}

#audio-table {
    width: 70%;
    margin: 20px 10px;

}

#audio-table td p {
    overflow: hidden;
    text-overflow: ellipsis;
}

#audio-table .audio-name {
    color: #0f116d;
}

#audio-table .audio-artist {
    width: 100px;
}

.add-btn {
    background: url("../img/cart.png") center no-repeat;
    background-size: cover;
    width: 45px;
    height: 45px;
}